table
  tr
    th Id
    th Last Seen
    th Wireless IP
    th Fixed IP
  each thing in things
    tr
      td= thing.id
      td= thing.last_seen
      td= thing.wireless_ip
      td= thing.wireline_ip
