table
  tr
    th Id
    th Last Seen
    th Public IP
    th Private IP
  each thing in things
    tr
      td= thing.id
      td= thing.last_seen
      td= thing.public_ip
      td= thing.private_ip
